<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 | Not Found</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <h1 class="sub-head">Ooops!</h1>
      <p class="sub-big-text">404 Page Not Found</p>
    </main>
  </body>
</html>
